---
import Header from '../components/Header/Header.astro';
import Hero from '../components/Main/Hero/Hero.astro';
import Features from '../components/Main/Features.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer/Footer.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<Features />
	</main>
	<Footer />
</Layout>
